# website baseurl
BASEURL=https://wings70179.github.io/liff-businesscard-CFC/

# can change github page cname
CNAME=

# please enter LIFF ID (size: FULL, LIFF URL Converting method: Concatenate, Scopes: 'chat_message.write, profile')
LIFFID_FULL=2009809653-TJBASJtw

# Deprecated
LIFFID_SHARE_CSV=2009809653-TJBASJtw

# Deprecated
LIFFID_SHARE=2009809653-TJBASJtw

# For development livereload, do not set this in GitHub Secret
NODE_ENV=production
