extends ../../layout/forms.pug

block beforehtml
  -
    title = '長富營造名片'
    description = '長富營造名片'

block meta
  meta(property="og:image:height", content="640")
  meta(property="og:image:width", content="1280")
  meta(property="og:image", content="https://raw.githubusercontent.com/wings70179/eccard/refs/heads/main/FJJ56x3v.png")
  meta(property="og:url", content=baseurl+"forms/liff-businesscard-whitegiga.html")

block form
  //- 這裡一定要有 #app 這一層，不然 v-cloak 會讓你整個畫面消失
  #app.container.my-3(v-cloak)
    .row.justify-content-center
      .col-md-6
        .form-group.was-validated.my-2
          label LOGO 圖片網址
          input#vcard-logo.form-control.form-control-sm(type="url", inputmode="url", required, pattern="https://\\S+", v-model.trim="vcard.logo")
          small.form-text.text-muted 請填寫 LOGO 圖片網址，必須是 #[code https://] 開頭。
        
        .form-group.was-validated.my-2
          label 姓名
          input#vcard-name.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.name")
        
        .form-group.was-validated.my-2
          label 職稱
          input#vcard-title.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.title")
        
        .form-group.was-validated.my-2
          label 手機
          input#vcard-cellphone.form-control.form-control-sm(type="tel", inputmode="tel", required, pattern="[0-9,+-]+", v-model="vcard.cellphone")
        
        .form-group.was-validated.my-2
          label 公司名稱
          input#vcard-company.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.company")
        
        .form-group.was-validated.my-2
          label 網站
          input#vcard-url.form-control.form-control-sm(type="url", inputmode="url", required, pattern="(https?://|line://|tel:|mailto:)\\S+", v-model.trim="vcard.url")
        
        .form-group.was-validated.my-2
          label 地址
          input#vcard-address.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.address")
        
        .form-group.was-validated.my-2
          label 地圖網址
          textarea#vcard-maps.form-control.form-control-sm(inputmode="url", required, v-model="vcard.maps", rows="3")
        
        .form-group.was-validated.my-2
          label 統編
          input#vcard-taxid.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.taxid")
        
        .form-group.was-validated.my-2
          label 電話
          input#vcard-tel.form-control.form-control-sm(type="tel", inputmode="tel", required, pattern="[0-9,+-]+", v-model="vcard.tel")
        
        .form-group.was-validated.my-2
          label 傳真
          input#vcard-fax.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.fax")
        
        .form-group.was-validated.my-2
          label 信箱
          input#vcard-email.form-control.form-control-sm(type="email", inputmode="email", required, pattern=".+", v-model="vcard.email")

        button.btn.btn-primary.w-100.my-4(type="button", @click="submit") 建立並分享名片

block vue-config
  script.
    window.vueConfig.data.vcard = {
      address: '花蓮市建國路二段218號',
      company: '長富營造有限公司',
      email: 'a525367@yahoo.com.tw',
      logo: 'https://raw.githubusercontent.com/wings70179/eccard/refs/heads/main/0618_%E9%95%B7%E5%AF%8C%E7%87%9F%E9%80%A0%20-.jpg',
      maps: 'https://www.google.com/maps/search/?api=1&query=花蓮市建國路二段218號',
      name: '廖冠宇',
      cellphone: '0935195881',
      taxid: '89386457',
      tel: '03-8525367',
      fax: '03-8534436',
      template: 'https://wings70179.github.io/liff-businesscard-CFC/cards/liff-businesscard-whitegiga.txt',
      title: '負責人',
      url: 'https://www.google.com'
    };