extends ../../layout/forms.pug

block beforehtml
  -
    title = 'й•·еҜҢзҮҹйҖ еҗҚзүҮ'
    description = 'й•·еҜҢзҮҹйҖ еҗҚзүҮ'

block meta
  meta(property="og:image:height", content="640")
  meta(property="og:image:width", content="1280")
  meta(property="og:image", content="https://raw.githubusercontent.com/wings70179/eccard/refs/heads/main/FJJ56x3v.png")
  meta(property="og:url", content=baseurl+"forms/liff-businesscard-whitegiga.html")

block form
  .form-group.was-validated.my-2
    label(for="vcard-logo") LOGO
    input#vcard-logo.form-control.form-control-sm(type="url", inputmode="url", required, pattern="https://\\S+", v-model.trim="vcard.logo")
    small.form-text.text-muted и«ӢеЎ«еҜ« LOGO ең–зүҮз¶ІеқҖпјҢеҝ…й ҲжҳҜ #[code https://] й–Ӣй ӯпјҢжҜ”дҫӢзӮә #[code 1:1]пјҢе»әиӯ°еҸҜе°Үең–зүҮ#[a(target="_blank", href="https://hackmd.io/@docs/how_to_upload_image_tw") дёҠеӮіеҲ° HackMD]гҖӮ
  .form-group.was-validated.my-2
    label(for="vcard-name") е§“еҗҚ
    input#vcard-name.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.name")
    small.form-text.text-muted и«ӢеЎ«еҜ«е§“еҗҚгҖӮ
  .form-group.was-validated.my-2
    label(for="vcard-title") иҒ·зЁұ
    input#vcard-title.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.title")
    small.form-text.text-muted и«ӢеЎ«еҜ«иҒ·зЁұгҖӮ
  .form-group.was-validated.my-2
    label(for="vcard-cellphone") жүӢж©ҹ
    input#vcard-title.form-control.form-control-sm(type="tel", inputmode="tel", required, pattern="[0-9,+-]+", v-model="vcard.cellphone")
    small.form-text.text-muted и«ӢеЎ«еҜ«жүӢж©ҹгҖӮ
  .form-group.was-validated.my-2
    label(for="vcard-company") е…¬еҸё
    input#vcard-company.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.company")
    small.form-text.text-muted и«ӢеЎ«еҜ«е…¬еҸёеҗҚзЁұгҖӮ
  .form-group.was-validated.my-2
    label(for="vcard-url") з¶Із«ҷ
    input#vcard-url.form-control.form-control-sm(type="url", inputmode="url", required, pattern="(https?://|line://|tel:|mailto:)\\S+", v-model.trim="vcard.url")
    small.form-text.text-muted и«ӢеЎ«еҜ«е…¬еҸёз¶Із«ҷгҖӮ
  .form-group.was-validated.my-2
    label(for="vcard-address") ең°еқҖ
    input#vcard-address.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.address")
    small.form-text.text-muted и«ӢеЎ«еҜ«е…¬еҸёең°еқҖгҖӮ
  .form-group.was-validated.my-2
    label(for="vcard-maps") ең°ең–
    textarea#vcard-maps.form-control.form-control-sm(inputmode="url", required, pattern="https?://\\S+", v-model="vcard.maps", rows="3")
    small.form-text.text-muted и«ӢеЎ«еҜ«е…¬еҸёзҡ„ Google ең°ең–з¶ІеқҖгҖӮ
  .form-group.was-validated.my-2
    label(for="vcard-taxid") зөұз·Ё
    input#vcard-name.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.taxid")
    small.form-text.text-muted и«ӢеЎ«еҜ«зөұз·ЁгҖӮ
  .form-group.was-validated.my-2
    label(for="vcard-tel") йӣ»и©ұ
    input#vcard-tel.form-control.form-control-sm(type="tel", inputmode="tel", required, pattern="[0-9,+-]+", v-model="vcard.tel")
    small.form-text.text-muted и«ӢеЎ«еҜ«е…¬еҸёйӣ»и©ұгҖӮ
  .form-group.was-validated.my-2
    label(for="vcard-fax") еӮізңҹ
    input#vcard-tel.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.fax")
    small.form-text.text-muted и«ӢеЎ«еҜ«е…¬еҸёеӮізңҹгҖӮ
  .form-group.was-validated.my-2
    label(for="vcard-email") дҝЎз®ұ
    input#vcard-email.form-control.form-control-sm(type="email", inputmode="email", required, pattern=".+", v-model="vcard.email")
    small.form-text.text-muted и«ӢеЎ«еҜ«е…¬еҸёдҝЎз®ұгҖӮ

block vue-config
  script.
    window.vueConfig.data.vcard = {
      address: 'иҠұи“®еёӮе»әеңӢи·ҜдәҢж®ө218иҷҹ',
      company: 'й•·еҜҢзҮҹйҖ жңүйҷҗе…¬еҸё',
      email: 'a525367@yahoo.com.tw',
      logo: 'https://raw.githubusercontent.com/wings70179/eccard/refs/heads/main/0618_%E9%95%B7%E5%AF%8C%E7%87%9F%E9%80%A0%20-.jpg',
      maps: 'https://www.google.com/maps/search/?api=1&query=иҠұи“®еёӮе»әеңӢи·ҜдәҢж®ө218иҷҹ',
      url: 'https://www.google.com/search?q=%E9%95%B7%E5%AF%8C%E7%87%9F%E9%80%A0%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&sca_esv=6bb65fbe9023ef87&sxsrf=ANbL-n7EFodmwAIutRSFkXzDkp3cq4wIYQ%3A1776520830297&source=hp&ei=fo7jafOAD-Hg2roP-4Wo4QY&iflsig=AFdpzrgAAAAAaeOcjiCYfyHnwCz5ef8wEwff3JZUSIBe&ved=0ahUKEwjzt5fox_eTAxVhsFYBHfsCKmwQ4dUDCCA&uact=5&oq=%E9%95%B7%E5%AF%8C%E7%87%9F%E9%80%A0%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&gs_lp=Egdnd3Mtd2l6Ihjplbflr4znh5_pgKDmnInpmZDlhazlj7hIlgJQAFgAcAB4AJABAJgBAKABAKoBALgBA8gBAPgBAvgBAZgCAKACAJgDAJIHAKAHALIHALgHAMIHAMgHAIAIAQ&sclient=gws-wiz',
      name: 'е»–еҶ е®Ү',
      cellphone: '0935195881',
      taxid: '89386457',
      tel: '03-8525367',
      fax: '03-8534436',
      template: 'https://wings70179.github.io/liff-businesscard-CFC/cards/liff-businesscard-whitegiga.txt'
      title: 'иІ иІ¬дәә',
    }
